.Lightbox {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    transform: translateY(-100%);
    pointer-events: none;

    transition: transform .5s ease;
}

.Lightbox.isActive {
    transform: translateY(0%);
    pointer-events: auto;
}

.Lightbox-wrapper {
    width: 60vw;
    height: 90vh;

    background-color: white;

    box-shadow: 0 0 1rem 0 rgb(0, 0, 0, .2);

    margin: 2rem auto;

    position: relative;

    overflow-y: scroll;
}

.Lightbox-button {
    background-color: transparent;
    border-radius: 50%;

    padding: .5rem;

    position: absolute;
    top: 2%;
    right: 1%;

    cursor: pointer;
    transition: background-color .5s ease, transform .5s ease;
}

.Lightbox-button:hover {
    background-color: #D9D1C7;
    transform: scale(1.05);
}

.Lightbox-button:active {
    transform: scale(0.95);
}

.Lightbox-svg {
    width: 2rem;
    height: 2rem;
}

.Lightbox-section {
    width: 100%;

    padding: 2rem;
}

.Lightbox-h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
}

.Lightbox-article {
    margin: 1rem 0 0;
    border-bottom: 1px solid lightgray;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: .5rem;
}

.Lightbox-article:last-child {
    border-bottom: 0;
}

.Lightbox-h4 {
    font-weight: bold;
}

.Lightbox-ul {
    margin: 0 0 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: .5rem;
}

.Lightbox-li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.Lightbox-img {
    width: 2rem;
}

.Modal-section {
    width: 100%;

    padding: 2rem;

    /* display: none; */
}

/* .Modal-section.isActive {
    display: block;
} */

.Modal-h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
}

.Modal-article {
    margin: 1rem 0 0;
    border-bottom: 1px solid lightgray;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: .5rem;
}

.Modal-article:last-child {
    border-bottom: 0;
}

.Modal-h4 {
    font-weight: bold;
}

.Modal-p {
    margin: 0 0 1rem;

    text-align: justify;
}

.Modal-ul {
    margin: 0 0 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: .5rem;
}

.Modal-li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.Modal-img {
    width: 2rem;
}