.Manager{
    width: 100%;

    position: relative;
}
.Manager-wrapper{
    width: 100%;
    
    padding: 0 1rem;
    margin: auto;

    position: absolute;
    top: 2rem;
    left: 0;
}
.Manager-h2{
    margin: 2rem 0 0;
    padding: 2rem 0;

    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
}
.Manager-update{
    display: none;
}
.Manager-update.isActive{
    display: table-row;
}