.Login{
    width: 100vw;
    height: 100vh;

    background-color: rgb(242, 223, 187);

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.Login-div{
    width: 96%;

    background-color: white;

    border-radius: 1rem;
    box-shadow: 0 0 1rem 0 rgb(0,0,0,.2);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.Login-right{
    width: 50%;
}
.Login-img{
    border-radius: 0 1rem 1rem 0;
}
.Login-left{
    width: 50%;

    padding: 0 0 1rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.Login-logo{
    width: 20rem;
}
.Login-form{
    width: 18rem;
}
.Login-input{
    width: 100%;
    
    margin: 1rem 0;
    padding: .5rem;

    border: 1px solid rgb(211, 211, 211);
    border-radius: .5rem;
}
.Login-submit{
    background-color: rgb(5, 175, 242);
    color: white;

    border-radius: .5rem;

    margin: 2rem auto;
    padding: 1rem 2rem;

    cursor: pointer;
}
.Login-msg{
    margin: 0 0 1.5rem;
    color: red;
}
.Login-msj{
    margin: 0 0 1.5rem;
    color: rgb(86, 89, 2);
}
.Login-link{
    font-size: .875rem;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: .2rem;
}
.Login-navlink{
    color: rgb(5, 175, 242);
    cursor: pointer;
}