.Header {
    width: 100%;
    background-color: white;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.Header-wrapper {
    width: 90%;

    margin: auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.Header-h1 {
    width: 10rem;
}

.Header-ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.Header-link {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;

    border-bottom: 2px solid transparent;
    transition: border-bottom .5s ease, transform .5s ease;
}

.Header-link:hover {
    border-bottom: 2px solid rgb(217, 209, 199);
}

.Header-link:active {
    transform: scale(0.95);
}

.Header-user {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    cursor: pointer;
}

.Header-icon {
    width: 2rem;
    height: 2rem;
}

.Header-h2 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
}

.Header-button {
    display: none;
    cursor: pointer;
}

.Header-svg {
    width: 2rem;
    height: 2rem;
}

/* @media (max-width: 56.25rem) {
    .Header-wrapper {
        align-items: flex-start;
    }

    .Header-button {
        padding: 1rem 0;
    }

    .Header-nav {
        width: 100%;
        height: 0;

        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        overflow: hidden;
        transition: opacity .5s ease, height .7s ease;
        opacity: 0;
    }

    .Header-nav.isActive {
        height: 60vh;
        opacity: 1;
    }

    .Header-ul {
        flex-direction: column;
    }

    .Header-button {
        display: block;
    }
}

@media (max-width: 30rem) {
    .Header-h1 {
        width: 6rem;
        padding: 1rem 0;
    }
} */